body {
  font-family: Arial,"DIN Next Ultra Light","Helvetica Neue",Helvetica, "Lantinghei SC","Hiragino Sans GB",STHeiti, "Noto Sans S Chinese", "Microsoft Yahei", "Microsoft Sans Serif", "WenQuanYi Micro Hei",sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  background-color: #3EABEF;
}

@mixin global-radius() {
  border-radius: 3px;
}

$global-duration: .3s;

.a-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.form-field input {
  outline: 0;
  color: #555;
  border: 1px solid #ccc;
  @include global-radius;
  background-color: #fff;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  line-height: 27px;
  padding: 0 5px;
  &:focus {
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  }
}

.btn {
  background-color: #3DAFF6;
  border: 1px solid #4598CD;
  display: inline-block;
  padding: 5px 25px;
  letter-spacing: 2px;
  color: #F4F4F4;
  font-weight: bold;
  white-space: nowrap;
  @include global-radius;
  transition: background-color $global-duration;
  outline: 0;
  &:hover {
    background-color: #3499d7;
  }
}


@import 'components/flash';
@import 'components/login';
