.flash {
  position: absolute;
  z-index: 10;
  top: 50px;
  padding: 20px;
  border-radius: 3px;
  border: 1px solid #555;
  background-color: #aeaeae;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: 1.5px;
  transition: all 0.3s;
  &.error {
    background-color: #EFA5A5;
    color: #652D2D;
    border-color: #A24C4C;
  }
  &.success {
    background-color: #A5EFAE;
    color: #2D652E;
    border-color: #4CA25E;
  }
}
