.login-wrap {
  text-align: center;
  background-color: #fff;
  @include global-radius;
  border: 1px solid #cdcdcd;
  overflow: hidden;
  margin-top: -40px;
  z-index: 1;
  min-height: 280px;
  h4 {
    margin: 0;
  }
  .form-field {
    label {
      width: 85px;
      display: inline-block;
      text-align: right;
      margin-left: -50px;
    }
  }
  .form-content {
    min-height: 105px;
  }
  .btn {
    margin-top: 20px;
  }
}

.login-switch {
  width: 400px;
  .switch-item {
    background-color: #f0f0f0;
    display: inline-block;
    margin: 0;
    width: 50%;
    margin-right: 0;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color $global-duration;
    &:hover {
      background-color: #d0d0d0;
    }
    &.on {
      background-color: #e0e0e0;
    }
  }
}

.login-content {
  position: relative;
  padding-top: 20px;
  .form-field {
    margin: 8px;
    &.captcha {
      input {
        width: 76px;
        vertical-align: middle;
        letter-spacing: 5px;
      }
      .captcha-img {
        display: inline-block;
        vertical-align: middle;
        margin-left: 8px;
        @include global-radius;
        border: 1px solid #ccc;
        opacity: 1;
        cursor: pointer;
        transition: opacity $global-duration;
        &:hover {
          opacity: .5;
        }
      }
    }
  }
  .switch-cont-item {
    position: absolute;
    margin: auto;
    width: 80%;
    left: 0;
    right: 0;
  }
}

.switch-anim-enter,.switch-anim-leave.switch-anim-leave-active {
  transform: scaleX(0);
  opacity: 0;
}

.switch-anim-leave,.switch-anim-enter.switch-anim-enter-active {
  opacity: 1;
  transform: scaleX(1);
}

.switch-anim-enter.switch-anim-enter-active,
.switch-anim-leave.switch-anim-leave-active {
  transition: all $global-duration;
}
